.container {
    background: #EDFCFF;
}
.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.logo {
    width: 280px;
}
.tagline {
    font-size: 18px;
    font-weight: 600;
}